.head{
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #3d424d;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}.head>span:nth-child(1){
  margin-left: 30px;
}.head>span:nth-child(2){
  margin-right: 30px;
}.head>span{
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
}